.pane {
  > section {
    display: none;
    white-space: pre-line;

    &:target {
      display: block;

      ~ .intro {
        display: none;
      }
    }
  }

  > .intro {
      display: block;
  }
}
